{% extends 'templates/admin.twig' %}

{% block title %}Article List -{% endblock %}

{% block PageHeader %}Article List <small>articles that have been published</small>{% endblock %}

{% block breadcrumb %}list{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body no-padding">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th style="width: 40px">Edit</th>
                    <th style="width: 40px">Delete</th>
                </tr>
                {% for article in article %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td class="text-center"><a href="/admin/article/{{ article.id }}/edit"><i class="fa fa-pencil"></i></a></td>
                        <td class="text-center"><a href="/admin/article/{{ article.id }}/delete"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
{% endblock %}